@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
	padding: 0;
	max-width: 1280px;
	font-family: 'Quicksand', '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-family: メイリオ, Meiryo, 'Century Gothic', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	-webkit-text-size-adjust: 100%;
}
ul{
   	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	list-style-type: none;
}
table{
	border-collapse: collapse;
}
header{
	text-align: center;
	padding: 10px 0;
}
footer{
	height: 218px;
	background: url(img/footer.png);
}
img{
	vertical-align: bottom;
	border: 0;
}
h1{
	font-size: 100px;
	color: #162223;
}
h2{
	font-size: 24px;
}
h3{
	letter-spacing: 5px;
	font-size: 30px;
	color: #0b73cb;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	opacity: 0.7;
}
table{
	margin-left: 80px;
}
th{
	display: inline-block;
	margin: 20px 0;
	width: 182px;
	
	font-size: 18px;
	color: #1d4c5f;
}

.box{
	background: #d4eef3;
}
.link{
	display: inline-block;
	margin: 0 30px;
	padding: 16px 0;
	
	width: 260px;
	height: 80px;
	
	vertical-align: top;
	
	color: #005BAC;
	background: url(img/link.png) no-repeat;
}

.menu{
	padding: 10px 30px;
}
.top{
	position: relative;
	text-align: center;
	
	height: 628px;
	background: url(img/top_bg.png);
}
.top img{
	padding: 140px;
}
.top p{
	color: #fff;
	margin: -110px;
}
.scroll{
	position: absolute;
	bottom: 0px;
	left: 400px;
	
	display: inline-block;
	padding: 30px 0;
	width: 500px;
	
	color: #fff;
	font-size: 20px;
	background: #70C7CF;
}
.recent{
	margin: 0 auto;
	padding: 20px 50px;
	width: 600px;
	height: 200px;
	
	background: #162223;
	color: #fff;
}
.mark{
	margin: 20px;
	padding: 0 20px;
	
	background: #fff;
	color: #162223;
	font-size: 12px;
}
.about{
	margin-top: 100px;
	margin-left: 100px;
}
.about img.catch{
	vertical-align: top;
	margin-left: 30px;
}
.about h1{
	margin-top: -50px;
	margin-left: 400px;
}
.about .text{
	position: relative;
	top: -100px;
	left: 400px;
}
.about p{
	position: relative;
	margin-top: -80px;
	left: 400px;
}
.enjoy{
	position: relative;
	margin-top: 50px;
}
.about-button{
	position: relative;
	left: 130px;
	
	vertical-align: top;
}
.enjoy .box{
	position: absolute;
	top: 250px;
	right: 0px;
	z-index: -10;
	
	width: 953px;
	height: 457px;
}
.enjoy .photo{
	position: absolute;
	top: 350px;
	right: 0px;
}
.enjoy h1{
	position: relative;
	top: -50px;
	display: inline-block;
	
	margin-left: 130px;
	font-size: 80px;
}
.enjoy .text{
	position: relative;
	left: -550px;
}
.enjoy p{
	position: relative;
	top: 30px;
	left: 130px;
	
	display: inline-block;
}
.button{
	margin-top: 50px;
	text-align: center;
}
.button img{
	margin: 50px 30px;
}
.howis{
	text-align: center;
}
.howis h1{
	font-size: 65px;
}
.howis .text{
	position: relative;
	top: -70px;
	left: 250px;
}
.links{
	margin-top: 100px;
	text-align: center;
}
.sns{
	margin-top: 50px;
	margin-bottom: 150px;
	text-align: center;
}
.sns img{
	margin: 10px 20px;
}

/*--ここからABOUTページ--*/
.about-top{
	height: 418px;
	
	text-align: center;
	background: url(img/about-bg.png);
}
.about-top img{
	padding-top: 140px;
}
.about-top p{
	position: relative;
	top: 50px;
	
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.c-g{
	height: 480px;
}
.c-g h1{
	padding-left: 100px;
	line-height: 110px;
}
.c-g p{
	padding-left: 100px;
	position: relative;
	
	top: -50px;
	font-size: 20px;
	letter-spacing: 3px;
}
.c-g .box{
	position: relative;
	top: -280px;
	z-index: -10;
	
	width: 965px;
	height: 418px;
}
.c-g-content{
	margin: -150px auto 0 auto;
	width: 779px;
}
.content{
	margin: 50px 20px;
}
.content p{
	margin-bottom: 100px;
	
	letter-spacing: 1px;
	line-height: 30px;
}

/*--ここからAccess--*/
.access-top{
	height: 420px;
	text-align: center;
	
	background: url(img/access-bg.png);
}
.access-top img{
	margin-top: 140px;
}
.access-top p{
	margin-top: 50px;
	
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	
	letter-spacing: 3px;
}
.access-content{
	margin: 50px auto 150px auto;
	width: 700px;
}
.access-content p{
	letter-spacing: 1px;
	line-height: 30px;
}
/*--ここからschedule--*/
.schedule-top{
	height: 419px;
	text-align: center;
	background: url(img/schedule-bg.png);
}
.schedule-top img{
	margin-top: 130px;
}
.schedule-top p{
	position: relative;
	top: 50px;
	
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.schedule-content{
	margin: 0 auto;
	width: 700px;
}
.table1{
	height: 800px;
	background: url(img/day1.png) no-repeat;
}
.table2{
	height: 800px;
	background: url(img/day2.png) no-repeat;
}
#detail-1{
	position: relative;
	top: 460px;
	left: 290px;
}
#detail-2{
	position: relative;
	top: 460px;
	left: 335px;
}
#detail-3{
	position: relative;
	top: 430px;
	left: 290px;
}
#detail-4{
	position: relative;
	top: 400px;
	left: 335px;
}

/*--ここからPolicy--*/
.policy-top{
	height: 420px;
	text-align: center;
	
	background: url(img/policy-bg.png);
}
.policy-top img{
	margin-top: 140px;
}
.policy-top p{
	margin-top: 50px;
	
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	
	letter-spacing: 3px;
}
.policy-content{
	margin: 50px auto 150px auto;
	width: 700px;
}
.policy-content p{
	letter-spacing: 1px;
	line-height: 30px;
}